*{
  box-sizing: border-box;
}
body{
  padding: 0;
  background-color: gray;
  
}
#root{
  height: 100%;
  width: 100%;
  padding: 0;
 
}

ul{
  margin: 1rem;
  padding: 0;
}

.app-title{
  text-align: center;
}
